__pycache__/
comments/
models.mmd
models.preview.html
pytest.ini
.coverage

results/
temp_path
temp_path/
input_folder/
.snakemake/
logs/
results/
*.log

old_stuff/
config_snakefile.yaml

src/model_R10_v0.1.pt
